@charset "UTF-8";

@import "https://fonts.googleapis.com/css?family=Dosis:200|Roboto+Condensed:300";

/* ---------- RESET ---------- */
body {
  margin: 0;
  padding: 0;
}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,p,blockquote,fieldset,div,figure {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,small {
  font-size: 100%;
  font-weight: normal;
}
ul li,ol li {
  list-style: none;
}
table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}
caption {
  text-align: left;
}
table,pre,code,select,input,textarea,kbd,var,ins,del,samp {
  font-size: 100%;
}
address,cite,dfn,em,strong,var,th,ins,del,samp {
  font-weight: normal;
  font-style: normal;
}
a img {
  border: 0;
}
fieldset {
  border: none;
}
header,section,nav,aside,footer,article {
  display: block;
}

/* ---------- COMMON ---------- */
#wrapper {
  overflow: hidden;
  position: relative;
  color: #353535;
  font-size: 16px;
  font-family: "Roboto Condensed","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
#canvas--top {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
}
#canvas--work {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100%;
}

/* ---------- .header ---------- */
.header {
  overflow: hidden;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 930px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 10px;
}
.header__title {
  font-size: 40px;
}
.header__title em {
  font-weight: bold;
}
.header__note {
  color: #777;
  font-size: 20px;
}
.header--work .header__wrap {
  height: 110px;
}
.header--work .header__title a {
  color: #353535;
  text-decoration: none;
}

/* ---------- .footer ---------- */
.footer {
  background: #eee;
}
.footer__wrap {
  width: 930px;
  margin: 0 auto;
  padding: 80px 10px;
  text-align: center;
}
.footer__navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 80px;
  font-size: 30px;
  line-height: 30px;
}
.footer__navi--work {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.footer__naviItem {
  margin: 0 20px;
}
.footer__naviItem a {
  position: relative;
  color: #353535;
  text-decoration: none;
}
.footer__naviItem a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #353535;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.footer__naviItem a:hover::after {
  transform: scale(1, 1);
}
.footer__navi--work .footer__naviItem {
  margin: 0;
}
.footer__navi--work .footer__naviItem--prev a,
.footer__navi--work .footer__naviItem--next a,
.footer__navi--work .footer__naviItem--prev span,
.footer__navi--work .footer__naviItem--next span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 5px;
}
.footer__navi--work .footer__naviItem--prev a::before,
.footer__navi--work .footer__naviItem--next a::before {
  transform: translateX(0);
  transition: transform 0.3s;
}
.footer__navi--work .footer__naviItem--prev a::before,
.footer__navi--work .footer__naviItem--prev span::before {
  content: "<";
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}
.footer__navi--work .footer__naviItem--prev a::after {
  transform-origin: left top;
}
.footer__navi--work .footer__naviItem--prev a:hover::before {
  transform: translateX(-2px);
}
.footer__navi--work .footer__naviItem--prev a:hover::after {
  transform-origin: right top;
}
.footer__navi--work .footer__naviItem--next a:before,
.footer__navi--work .footer__naviItem--next span:before {
  content: ">";
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.footer__navi--work .footer__naviItem--next a::after {
  transform-origin: right top;
}
.footer__navi--work .footer__naviItem--next a:hover::before {
  transform: translateX(2px);
}
.footer__navi--work .footer__naviItem--next a:hover::after {
  transform-origin: left top;
}
.footer__navi--work .footer__naviItem--disable {
  color: #bbb;
}

/* ---------- .common ---------- */
.common:nth-child(odd) {
  background: #eee;
}
.common__wrap {
  width: 930px;
  margin: 0 auto;
  padding: 80px 10px;
}
.common__head {
  font-size: 50px;
  font-family: "Dosis";
  text-align: center;
  line-height: 50px;
}
.common__body {
  margin-top: 80px;
}

/* ---------- .work ---------- */
.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 45px;
}
.work__item {
  width: 280px;
}
.work__item a {
  color: #353535;
  line-height: 1;
  text-decoration: none;
}
.work__item a:hover .work__itemImage img {
  -webkit-transform: scale( 1.05 );
  -ms-transform: scale( 1.05 );
  transform: scale( 1.05 );
}
.work__item a:hover .work__itemTitle::after {
  transform: scale(1, 1);
  transform-origin: left top;
}
.work__itemWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.work__itemImage {
  overflow: hidden;
  width: 280px;
  height: 158px;
}
.work__itemImage img {
  vertical-align: bottom;
  -webkit-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.work__itemTitle {
  position: relative;
  margin-top: 10px;
}
.work__itemTitle::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #353535;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}
.work__itemClient {
  margin-top: 5px;
  color: #999;
  font-size: 14px;
}

/* ---------- .about ---------- */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.about__item {
  width: 280px;
  padding-top: 130px;
}
.about__item dt {
  margin: 30px 0;
  font-size: 26px;
  text-align: center;
}
.about__item--web {
  background: url(../img/about_web_design.svg) no-repeat;
}
.about__item--dev {
  background: url(../img/about_web_dev.svg) no-repeat;
}
.about__item--app {
  background: url(../img/about_app_design.svg) no-repeat;
}

/* ---------- .design ---------- */
.design__head {
  overflow: hidden;
  position: relative;
}
.design__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 930px;
  height: 400px;
  margin: 0 auto;
  padding: 0 10px;
}
.design__title {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
  flex: 1;
  width: 100%;
  font-size: 44px;
  line-height: 50px;
}
.design__image {
  position: relative;
}
.design__image--01 {
  width: 482px;
  height: 258px;
}
.design__image--02 {
  width: 386px;
  height: 289px;
}
.design__image--03 {
  width: 450px;
  height: 258px;
}
.design__imageItem {
  position: absolute;
  bottom: 0;
  text-align: center;
}
.design__imageItem--pc {
  left: 0;
  width: 450px;
  height: 258px;
  background: url(../img/work/device_01_pc.png);
  background-size: 450px 258px;
}
.design__imageItem--pc img {
  margin-top: 14px;
}
.design__imageItem--sp {
  right: 0;
  width: 111px;
  height: 226px;
  background: url(../img/work/device_01_sp.png);
  background-size: 111px 226px;
}
.design__imageItem--sp img {
  margin-top: 27px;
}
.design__imageItem--01 {
  z-index: 3;
  right: 0;
  left: 0;
  width: 141px;
  height: 289px;
  margin: 0 auto;
  background: url(../img/work/device_02_01.png);
  background-size: 141px 289px;
}
.design__imageItem--01 img {
  margin-top: 34px;
}
.design__imageItem--02 {
  z-index: 2;
  left: 0px;
  width: 132px;
  height: 269px;
  background: url(../img/work/device_02_02.png);
  background-size: 132px 269px;
}
.design__imageItem--02 img {
  margin-top: 31px;
}
.design__imageItem--03 {
  z-index: 1;
  right: 0px;
  width: 140px;
  height: 265px;
  background: url(../img/work/device_02_03.png);
  background-size: 140px 265px;
}
.design__imageItem--03 img {
  margin-top: 20px;
}
.design__image--04 {
  width: 482px;
  height: 271px;
}
.design__image--04 .design__imageItem--pc {
  width: 451px;
  height: 271px;
  background: url(../img/work/device_04_pc.png);
  background-size: 451px 271px;
}
.design__image--04 .design__imageItem--pc::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  left: 0;
  display: block;
  width: 45px;
  height: 8px;
  margin: 0 auto;
  background-color: #010101;
  border-radius: 0 0 2px 2px;
}
.design__image--04 .design__imageItem--pc img {
  margin-top: 8px;
  border-radius: 4px;
}
.design__image--04 .design__imageItem--sp {
  width: 120px;
  height: 243px;
  background: url(../img/work/device_04_sp.png);
  background-size: 120px 243px;
}
.design__image--04 .design__imageItem--sp::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  left: 0;
  display: block;
  width: 35px;
  height: 10px;
  margin: 0 auto;
  background-color: #010101;
  border-radius: 5px;
}
.design__image--04 .design__imageItem--sp img {
  margin-top: 5.5px;
  border-radius: 15px;
}
.design__image--05 {
  width: 386px;
  height: 289px;
}
.design__image--05 .design__imageItem--01 {
  width: 142px;
  height: 289px;
  background: url(../img/work/device_05_01.png);
  background-size: 142px 289px;
}
.design__image--05 .design__imageItem--01::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0;
  left: 0;
  display: block;
  width: 42px;
  height: 12px;
  margin: 0 auto;
  background-color: #010101;
  border-radius: 6px;
}
.design__image--05 .design__imageItem--01 img {
  margin-top: 6px;
  border-radius: 18px;
}
.design__image--05 .design__imageItem--02,
.design__image--05 .design__imageItem--03 {
  width: 132px;
  height: 267px;
  background: url(../img/work/device_05_02.png);
  background-size: 132px 267px;
}
.design__image--05 .design__imageItem--02::after,
.design__image--05 .design__imageItem--03::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  left: 0;
  display: block;
  width: 39px;
  height: 11px;
  margin: 0 auto;
  background-color: #010101;
  border-radius: 5.5px;
}
.design__image--05 .design__imageItem--02 img,
.design__image--05 .design__imageItem--03 img {
  margin-top: 5px;
  border-radius: 15px;
}
.design__image--06 {
  width: 451px;
  height: 271px;
}
.design__image--06 .design__imageItem--pc {
  width: 451px;
  height: 271px;
  background: url(../img/work/device_04_pc.png);
  background-size: 451px 271px;
}
.design__image--06 .design__imageItem--pc::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  left: 0;
  display: block;
  width: 45px;
  height: 8px;
  margin: 0 auto;
  background-color: #010101;
  border-radius: 0 0 2px 2px;
}
.design__image--06 .design__imageItem--pc img {
  margin-top: 8px;
  border-radius: 4px;
}
.design__body {
  width: 930px;
  margin: 0 auto;
  padding: 80px 10px;
}

/* ---------- .note ---------- */
.note {
  margin-bottom: 60px;
}
.note__title {
  font-size: 26px;
}
.note__text {
  margin-top: 20px;
}

/* ---------- .mockup ---------- */
.mockup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.mockup__item {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.mockup__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: url(../img/work/icon_expand.svg) center center no-repeat #77777788;
  background-size: 32px auto;
  transform: translateY(40px);
  transition: transform 0.2s;
}
.mockup__item:hover::after {
  transform: translateY(0);
}
.mockup__item img {
  vertical-align: bottom;
  object-fit: cover;
  object-position: center top;
}
